
h1{
    text-align:center;
}
.top-buttons{
    margin-top:15px;
    text-align:center;
}

@media (max-width : 800px){
    h1{
        text-align:left;
    }
    .top-buttons{
        margin-top:15px;
        text-align:left;
    }

}


.btn-azioni{
    color: white;
    font-weight:bold;
}


.tabella tr td div,
.tabella tr th div{
    padding-left:15px;
}


.tabella tr th:nth-child(1),
.tabella tr td:nth-child(1), 
.tabella tr th:nth-child(1) div,
.tabella tr td:nth-child(1) div {
    width:50px;
    text-align:center;
}
.tabella tr th:nth-child(2),
.tabella tr td:nth-child(2),
.tabella tr th:nth-child(2) div,
.tabella tr td:nth-child(2) div{
    width:120px;
    text-align:center;
}
.tabella tr th:nth-child(3) div,
.tabella tr td:nth-child(3 div){
    wwidth:10%;
}

.tabella tr th:nth-child(4),
.tabella tr td:nth-child(4),
.tabella tr th:nth-child(4) div,
.tabella tr td:nth-child(4) div{
    width:200px;
}
.tabella tr th:nth-child(5),
.tabella tr td:nth-child(5),
.tabella tr th:nth-child(5) div,
.tabella tr td:nth-child(5) div{
    width:100px;
}

.table-striped > tbody > tr:nth-child(4n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #eee;
}


.popuptd{
    margin-left:10px;
}
.popuptd,
.popuptd div{
    width:800px !important;
    text-align:left !important;
}


.tabella-outer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 150px;
    display: block;
    margin:auto;
    
}

.tabella-outer tr{
    height: 50px;
}
@media (max-width : 800px){
    .tabella-outer{
        bottom: 0px;
        left: 0px;
        right: 0px;
        top: 150px;
        overflow-x: scroll;
    }
    .tabella-outer tr{
        height: 50px;
    }
}

.tabella{
    background: #fff;
    table-layout: fixed;
    width:100%;
}

.tabella td a{
    margin: 0;
    ccolor: #000;
}
.tabella-inner{
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 2px solid #999;
}

.griglia tr {
    border: 1px solid #ddd;
}

.griglia tr td{
    text-align: center;
    bborder: 1px solid #fff;
}
.griglia tr td div{
    white-space: nowrap;
    overflow: hidden;
}
.scrollable{
    overflow-y: scroll;
    ooverflow-x: hidden;
}
@media (max-width : 800px){
    .scrollable{
        width: 800px;
    }
}



.shadow1{
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    /* For IE 8*/
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    z-index:15;
  -moz-box-shadow:0px 0px 12px #222222;
  -webkit-box-shadow:0px 0px 12px #222222;
  box-shadow:0px 0px 12px #222222;

/* Arguments:
 * 1px: Horizontal offset of the effect. Positive numbers shift it right, negative left.
 * 2px: Vertical offset of the effect. Positive numbers shift it down, negative up.
 * 3px: The blur effect.  0 means no blur.
 * color: The color of the shadow. */
}

.shadow2{
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    /* For IE 8*/
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    z-index:5;
  -moz-box-shadow:0px 0px 10px #aaaaaa;
  -webkit-box-shadow:0px 0px 10px #aaaaaa;
  box-shadow:0px 0px 10px #aaaaaa;
}

.shadow3{
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    /* For IE 8*/
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    z-index:10;
  -moz-box-shadow:0px 0px 10px #777777;
  -webkit-box-shadow:0px 0px 10px #777777;
  box-shadow:0px 0px 10px #777777;
}
